<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>
    <a href="/login"><button type="button" name="login">Login</button></a>
    <a href="/register"><button type="button" name="register">Register</button></a>
  </body>
</html>
